/* fp (forgot password) */
.card-fp {
  background-color: #B5D0E4;
  border-radius: 10px;
  margin: 10%;
  text-align: center;
  padding: 5%;
}

.tombol-fp{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  --background:#DBF8FF;
}
ion-img, #img-fp {
    width: 100px;
    margin: auto;
}