
#Home { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  background:#B5D0E4;
  width: 100%;
  height: 80%;
  margin-top: 15px;
  border-radius: 10px;
  width:95% !important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  border-radius: 5px;
  /* width:90% !important; */
  font-size: 18px;
  padding: 0;
  background: transparent;
  height: calc((90% - 45px) / 3) !important;
  margin-top: 15px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#caribarang{
  --background: white;
  --border-radius: 5px;
  padding-bottom: 10px;
}

.hargacolor{
  color:var(--ion-color-medium);
  
}
.center{
  text-align: center;
  align-items: center;
  justify-content: center;
}



.left {
  float: left;
  text-align: center;
  width: 150px;
  padding: 10px;
  font-weight: bold;
} 

 .right {
  float: right;
  right: 0;
  text-align: center;
  padding: 5px;
  padding-bottom: 10px;
}

.rightIcon{
  right: 0;

  top: 0;
}

.bottomCard{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

.modalContent::part(scroll){
  padding-bottom: 110px;
}

.rowpadding{
  padding: 0;
}
/* .ion-justify-content-around{
  justify-content: space-around;
} */





/* Card Slider */
.card-slider{
  width: 100%;
  height: 90%;
  background-color: #DBF8FF;
  border-radius: 10px;
  margin: 0 15px;
}

/* Image Card Slider */
.img-slider{
  width: 110px;
  height: 110px;
  border-radius: 100% !important;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}

.img-sliders{
  width: 110px;
  height: 110px;
  border-radius: 100% !important;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}

/* Jumlah Item */
.jumlah-item{
  background-color: white;
  text-align: center;
  width: 20%;
  margin: 10px auto;
  border-radius: 5px;
}
#home.sc-ion-input-md-h{
  --padding-top: 2px;
  --padding-end: 0;
  --padding-bottom: 2px;
  --padding-start: 0;
}

/* Card Box
  Total Harga (TH)  
  Dummy Harga (DH)
  Lihat Daftar Struk (LDS) */
.card-default{
  border-radius: 10px;
  margin: 15px 10px;
}

/* Card Total Harga (TH) & Dummy Harga (DH) */
.label-TH{
  margin: 10px auto;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.label-DH{
  margin: 10px auto;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.label-LDS{
  margin: 0 auto 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
}

/* Modal Box Daftar Sturk */
.modal-box{
  /* atas(kiri kanan) bawah(kanan kiri) */
  --border-radius: 25px 25px 0 0;
  --height: calc(100% - (var(--ion-safe-area-top) + 100px));
}