/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  /* buat h1 */
  .swiper-slide h1{
    /* margin-top: 2.8rem; */
    color: var(--ion-text-color, #6C8BA1);
  }

  /* buat h2 */
  .swiper-slide h2{
    /* margin-top: 2.8rem; */
    color: var(--ion-text-color, #d4d4d4);
  }

  /* buat ngatur gambar */
  .swiper-slide img {
    max-height: 150%;
    max-width: 85%;
    margin: 100px 0 0px;
    pointer-events: none;
  }

  /* cuman buat bold */
  b {
    font-weight: 500;
  }

  /* buat text biasa */
  p {
    padding: 0 40px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    color: var(--ion-color-step-600, #6C8BA1);
  }

  p b {
    color: var(--ion-text-color, #5c7586);
  }

  /* buat background, masih belom bisa :( */
  ion-content.background-image{
    background-size: cover;
    background-image: url('../../public/assets/foto/intropage-01.png') !important ;
  }

  #noBG{
    --background:none;
  }
